    #clickedHeader {/*special guest that is, sometimes, an actual header*/
        color:aliceblue;
        font-size: 2rem;
        text-align: center;
    }
        .body-buttons {
            background-image: url("forest-3622519_1280");
            background-size: auto;
            background-position: center; body;
            font-family:'Courier New', Courier, monospace;
        }

        #body-index {
                background-image: url("landscape-1858602_1280.jpg");
                background-size: cover;
                background-position: center; body;
                font-family:'Courier New', Courier, monospace;
        }

        header {
        background-color: rgba(11, 41, 51, 0.5);
            color: aliceblue;
            padding: 2rem;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-flow: wrap-row;
        align-items: center;
        font-size: larger;
    }

    p {
        font-size: larger;
        text-align: center;
    }

    .seethru {
        text-align: center;
        padding: 3rem;
    }

    .sectionText { 
        background-color:rgba(9, 43, 15, 0.5); 
        padding: 2rem;
        color: aliceblue;
        text-align: center;
    }

    .seethru-2 { 
        background-color: rgba(9, 43, 15, 0.5);
        color:aliceblue;
        text-align: center;
    }

     .sectionTextIndex { 
            background-color:rgba(11, 41, 51, 0.5); 
            padding: 1rem; 
            color: aliceblue;
            text-align: center;
    }
    
    .seethru-2-index { 
            background-color: rgba(11, 41, 51, 0.5);
            color:aliceblue;
            text-align: center;
    }

        footer {
            text-align: center;
            color: aliceblue;
            padding: 5%;

    }

        a:link {
            color:darkgoldenrod;
        }

        a:visited {
            color:rgb(225, 155, 14);
        }

        a:active {
            color:darkolivegreen;
        }

        a:hover {
            color:rgb(201, 133, 7);
        }

        
        button {
            background-color: darkolivegreen;
            padding: 10px;
            color: aliceblue;
            border-style: outset; 
            border-color: rgb(46, 58, 25);
            border-width: 1px;
            font-family: monospace;
        }
        
        button:hover {
            padding: 1.5%;
            transition-duration: 1.5s;
            transition-delay: 0.1s;
        }