    #clickedHeader {
        color:aliceblue;
        font-size: 40px;
        text-align: center;
    }
        .body-buttons {
            background-image: url("forest-3622519_1280");
            background-size: auto; 
            background-position: center; body;
            font-family:'Courier New', Courier, monospace;
        }

        #body-index {
            background-image: url("landscape-1858602_1280.jpg");
            background-size: cover;
            background-position: center; body;
            font-family:'Courier New', Courier, monospace;
    }

        header {
        background-color: rgba(11, 41, 51, 0.5);
            color: aliceblue;
            padding: 0rem;
    }

    .navbar { 
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-flow: wrap-row;
        font-size: larger;
        align-items: flex-start;
    }

    .seethru {
        padding: 2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: larger;
        text-align: center;
    }

    .sectionText {
        background-color:rgba(9, 43, 15, 0.5); 
        padding: 2rem; 
        color: aliceblue;
        text-align: center;
    }

    .seethru-2 { 
        background-color: rgba(9, 43, 15, 0.5);
        color:aliceblue;
        text-align: center; 
    }

    .sectionTextIndex {
        background-color:rgba(11, 41, 51, 0.5); 
        padding: 2rem; 
        color: aliceblue;
    }

    .seethru-2-index { 
        background-color: rgba(11, 41, 51, 0.5);
        color:aliceblue;
        text-align: center; 
    }

        footer {
            text-align: center;
            color: aliceblue;
            padding: 12%;
            font-size: larger;
    }

        a:link {
            color:darkgoldenrod;
            font-size: larger;
        }

        a:visited {
            color:rgb(225, 155, 14);
        }

        a:active {
            color:darkolivegreen;
        }

        a:hover {
            color:rgb(201, 133, 7);
        }

        .button {
            text-align: center;
        }

        button {
            background-color: darkolivegreen;
            padding: 10px;
            color: aliceblue;
            border-style: solid;
            border-color: rgb(46, 58, 25);
            border-width: 1px;
            font-family: monospace;
            font-size: larger;
        }
        
        button:hover {
            padding: 1%;
            transition-duration: 1.5s;
            transition-delay: 0.1s;
        }