.flexContainer { /*what's this for again*/
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    background-color:aliceblue;
    color: darkslategray;
    margin: 1rem;
    padding-block: 1rem; /*ah it's for the big white box at the bottom*/
    }

    #clickedHeader {/*special guest that is, sometimes, an actual header*/
        color:aliceblue;
        font-size: 40px;
        text-align: center;
    }
        body {
            background-image: url("forest-3622519_1280");
            background-size: auto; /*might be better with cover??*/
            background-position: center; body;
            font-family:'Courier New', Courier, monospace;
        }

        header {
        background-color: rgba(11, 41, 51, 0.5);
            color: aliceblue;
            padding: 0rem;
    }

    .navbar { /**/
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-flow: wrap-row;
        font-size: larger;
        align-items: flex-start;
    }

    .seethru { /*bigboy welcome box*/
        padding: 2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: larger;
    }

    .sectionText { /*smaller text below seethru*/
        background-color:rgba(9, 43, 15, 0.5); 
        padding: 2rem; /*research if using rem is good enough*/
        color: aliceblue;
        text-align: center;
    }

    .seethru-2 { /*smaller box further down the page*/
        background-color: rgba(9, 43, 15, 0.5);
        color:aliceblue;
        text-align: center; /*NOT centered on desktop, gotta fix so it's left-hand aligned*/    }

        footer {
            text-align: center;
            color: aliceblue;
            padding: 12%;
            font-size: larger;
    }

        a:link {
            color:darkgoldenrod;
            font-size: larger;
        }

        a:visited {
            color:rgb(225, 155, 14);
        }

        a:active {
            color:darkolivegreen;
        }

        a:hover {
            color:rgb(201, 133, 7);
        }

        
        button {
            background-color: darkolivegreen;
            padding: 10px;
            color: aliceblue;
            border-style: solid;
            border-color: rgb(46, 58, 25);
            border-width: 1px;
            font-family: monospace;
            font-size: larger;
        }
        
        button:hover {
            padding: 1%;
            transition-duration: 1.5s;
            transition-delay: 0.1s;
        }

    /*need to fix the media with these so they work on all platforms*/